.orderContainer{
    margin: 10rem auto;
    max-width:750px;
    padding: 3rem;
    background-color: rgb(252, 252, 252);
}


.orderList{
    margin: 0 auto;
    max-width:600px;
}

.name{
    font-size:1.5rem;
}
.foodItem{
    text-align: left;
    font-size: 1.2rem;
}

.priceItem{
    text-align: right;
    font-size: 1.2rem;
}

.subtitle{
    font-size: 1.3rem;
}

.orderHistory{
    padding: 1rem;
}

.rightItem{
    text-align: right;
}