.menuContainer{
    margin: 10rem auto;
    max-width:750px;
    padding: 3rem;
    background-color: rgb(252, 252, 252);
}

.menuList{
    margin: 0 auto;
    max-width:600px;
}

.navbar_navigate {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 1rem;
}

.navbar_navigate-items a {
    text-decoration: none;
};

.navbar_navigate-items a:active,
.navbar_navigate-items a:hover {
    color: #fa923f;
};

.navbar_navigate-items ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
};

.navbar_navigate-items li {
    padding: 0 1rem;
};
